    <footer>
        <p>David Dankwah</p>
        <p>
            Brouwser Technologies
            &nbsp;
            <span>| Do whats best for you!</span>
        </p>
        <p>&#xA9;HvA CMD</p>
    </footer>

</body>
