<%- include('head'); %>

    <body>
        <header class="start_header">
            <p>
                Brouwser Technologies
                &nbsp;
                <span>| Do whats best for you!</span>
            </p>
        </header>