<%- include('head'); %>

    <body>
        <header class="start_header">
            <a href="/"><img src="img/logo2.png" alt="HvA logo"></a>
            <h1>Minor: Web Design & Development Enquete</h1>
        </header>