<%- include('partials/header'); %>

    <section class="result_404">
        <h1>404</h1>
        <p>Ooops....Pagina niet gevonden...</p>
        <a href="/" class="btn">Begin alsjeblieft opnieuw</a>
    </section>

    <%- include('partials/footer'); %>