<%- include('partials/header'); %>

    <section class="404">
        <h1>404</h1>
        <h2>Ooops....Couldn't find what you are looking for...</h2>
        <a href="/" class="btn">Please start again</a>
    </section>

    <%- include('partials/footer'); %>