$colors: (
     text: #555,
     base: #FFF,
     shadow: #1e1e1e,
     button: #25167a,
     focus: #09003c,
     hover: #331eab,
     active: #150d42,
     invalid: red,
     valid: #b0ffb0,
     highlight: #ccc,
);

$colors-dark: (
     text: #FFF,
     base: #2d2d2d,
     shadow: #cdcdcd,
     button: #08fdd8,
     focus: #023982,
     hover: #79B2C4,
     active: #00463b,
     invalid: red,
     valid: #52ff52,
     highlight: #08fdd8,
);