form {
	width: 100%;
	padding: 2em;
	border-radius: 1em;
	border: 1px solid color(highlight);
	box-shadow: 0 0 1em color(shadow);
	max-width: 62.5em;

	input[type='text'],
	input[type='number'],
	input[type='email'],
    textarea {
		width: 100%;
		padding: .8em 1.2em;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;

		&::placeholder {
			font-style: italic;
		}
	}

	fieldset {
		border: none;
		margin-top: 1em;
	}

	&#register_form {
		fieldset {

			

			&:has(input:valid:not(:placeholder-shown)):not(:last-of-type) input {
				background-color: #b0ffb0;
			}

			&:nth-of-type(5) {
				display: grid;

				p {
					font-size: 0.5em;
					font-style: italic;
					opacity: 0.5;
					margin: 0.4em 0;

					&.error-text {
						display: none;
						opacity: 1;
						color: red;
						font-style: italic;
					}
				}
			}

			&.form-field-required {
				label {
					position: relative;

					&::after {
						content: '*';
						color: color(invalid);
						position: absolute;
						top: -4px;
						padding-left: 5px;
					}
				}

				&.invalid {
					input {
						border: 2px solid color(invalid);

						&::placeholder {
							color: color(invalid);
							font-style: italic;
						}
					}
				}
			}
		}
	}

	&.questions {
        font-size: 1em;
        display: grid;
        
        h1 {
            margin-bottom: 1em;
        }

        &:has(input[name=professor]:valid:not(:placeholder-shown)) input[name=professor] {
            background-color: color(valid);
        }

        

		fieldset {
			display: grid;
			width: 100%;
            border-bottom: 1px solid color(highlight);
            
            &.options {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2em;
                border: none;

                a {
                    height: 2em;
                    text-align: center;
                    font-size: .9em;
                    line-height: .8em;
                }
            }

			&.start label {
				margin-bottom: .5em;
			}
			
            p {
				margin-bottom: .5em;
			}

			label:not(.start label) {
                display: inline-block;
				margin: 0 0.5em 1em;
				padding: 0.5em;
				font-weight: bold;
                cursor: pointer;
                border-radius: 50%;
                transition: 1s;

                &:hover {
                    font-size: .8em;
                    color: darkblue;
                }

				&:focus-visible {
					color: darkorchid;
					outline-color: darkorchid;
					
				}

                &:has(input:checked) {
                    box-shadow: inset 0 0 .5em color(button);

                }

				input {
					display: none;
				}
			}

			&.required {

				p, &.start label {
					position: relative;

					&::after {
						content: '*';
						position: absolute;
						top: -4px;
						padding-left: 5px;
						color: color(invalid);
					}
				}
				span {
					color: color(invalid);
					font-style: italic;
					font-size: .8em;
				}
			}
		}

        label[for=feedback] {
            margin: 1em 0;
        }
	}
}
