* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #555;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

@import 'helpers/variables';
@import 'helpers/function';
@import 'helpers/mixins';
@import 'form';
@import 'structure';

