<%- include('../partials/header'); %>

    <main>
        <article>
            <h1>Lekker bezig <span id="user_name"></span>!</h1>
            <p> 
                je hebt de vragen voor vak <%= subject %> succesvol afgerond Op naar de volgende


            </p>
            nog 3 vakken te gaan


            <a href="/ctr" class="btn">Start Enquete voor css</a>
        </article>
    </main>

    <%- include('../partials/footer'); %>