<%- include('../partials/header'); %>

    <main>
        <article>
            <h1>Nou dat heb je goed gedaan, Bedankt !</h1>
            <p>Met behulp van jou feedback kunnen we zien wat leerlingen nou eigenlijk vinden van deze minor</p>
            <p>Voor dat je dit aflsuit moet je nartuurlijk wel op de verzend knop drukken!</p>
            <p>Nog niet zo zeker? nou dan kun je altijd even je formulier doorlopen!</p>
    
            <div>
                <a href="/" class="btn">Verzend</a>
                <a href="/check" class="btn">Check antwoorden</a>
            </div>
        </article>

    </main>
    <%- include('../partials/footer'); %>