<%- include('../partials/header'); %>

    <main>
        <article>
            <h1>Nou dat heb je goed gedaan, Bedankt !</h1>
            <p>Met behulp van jou feedback kunnen we zien wat leerlingen nou eigenlijk vinden van deze minor</p>
            <p>Wil je dat we contact met je nemen over je antwoorden? <a href="/register" id="link">Laat je gegevens achter.</a></p>
            <p>Lekker anoniem blijven? Druk op verzenden en bedankt voor je tijd!</p>
    
            <a href="/send" class="btn" id="end">Verzend</a>
        </article>
    </main>
    
    <%- include('../partials/footer'); %>