<%- include('../partials/header'); %>

    <main>
        <article>
            <h1>Hi, daar Welkom</h1>

            <p>
                We willen de opleiding CMD elk jaar weer beter, leuker en professioneler maken. Dat kunnen we natuurlijk niet zonder
                jou. Dat er noise-canceling headphones, keyboards, kadobonnen en laptops worden verloot onder de deelnemers is mooi
                meegenomen. Maar voor ons is jouw mening het allerbelangrijkst! 
            </p>

            <p>Wat vind jij van deze Minor? <br>Laat ons weten en het samen beter maken !!</p>

            <a href="/start" class="btn">Start Enquete</a>
        </article>
    </main>
    
    <%- include('../partials/footer'); %>