<%- include('../partials/header'); %>

    <div class="popUp">
        <p>Gegevens succesvol opgeslagen, dank je wel voor je deelname!</p>
    </div>

    <main>
        <form action="/register" method="POST" id="register_form">

            <fieldset class="form-field form-field-required">
                <label for="first_name">Voornaam</label>
                <input type="text" id="first_name" name="first_name" placeholder="Uw voornaam.." required>
            </fieldset>

            <fieldset class="form-field">
                <label for="surname">Acternaam</label>
                <input type="text" id="surname" name="surname" placeholder="Uw achternaam..">
            </fieldset>

            <fieldset class="form-field form-field-required">
                <label for="student_nmbr">Studentennummer</label>
                <input type="text" name="student_nmbr" id="student_nmbr" inputmode="numeric" placeholder="Uw studentennummer.." required>
            </fieldset>

            <fieldset class="form-field form-field-required">
		        <span class="hidden"></span>
                <label for="email"> E-mail</label>
                <input type="email" name="email" id="email" placeholder="Uw e-mail.." required>
            </fieldset>

            <fieldset class="options">
                <input type="submit" class="btn" value="Opslaan">
                <a href="/klaar" class="btn back">Nee toch maar niet</a>
            </fieldset>
        </form>
    </main>

<%- include('../partials/footer'); %>